<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Ruby Conf 2015 submission guidelines</h1>
<h2>Welcome to the RubyConf 2015 topic submission page</h2>
<p>There are a few rules, addendums, quid pro quos, etcetera that we have to get
out of the way.</p>


<p>one, we don't accept submissions to kill anybody.  So don't ask.  </p>

<p>two, do not submit a request for anybody to fall in love 
with anybody else.  <bold>smooch</bold>, you little booga bear!</p>

<p>three, Rubyconf can't bring anybody back from the dead.  It's not a pretty picture,
and we don't like doing it!</p>

other than that, you got it!

<p>
<%= link_to "submit your talk!", new_talk_path %>
</p>
