<h1>Ruby Conf 2015 submission page</h1>
<h2>Welcone to the RubyConf 2015 topic submission page</h2>
<p>There are a few rules, addendums, quid pro quos, etcetera that we have to get
out of the way.</p>

<p>First, we're only accepting three submissions.  There is no submitting 
a submission for more submissions</p>

<p>second, we don't accept submissions involving raising the dead.  Eet/s not
Preety and we don't like doink it.</p>

<p>Third, do not submit a request for someone to fall in love with you</p>

That's it!
